/* Calendar container */
.react-calendar {
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Navigation buttons */
  .react-calendar__navigation button {
    color: #000;
    min-width: 44px;
    background: none;
    font-size: 1.2em;
    margin-top: 8px;
    border: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e0e0e0;
    border-radius: 25px;
  }
  
  /* Weekdays */
  .react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #6d6d6d;
  }
  
  /* Days */
  .react-calendar__tile {
    width: calc(100% / 7); /* This ensures 7 tiles fit in a row */
    padding: 2px;
    background: none;
    text-align: center;
    line-height: 1.5em;  
    border: 1px solid;
    border-color: white;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #e0e0e0;
  }
  
  .react-calendar__tile--now {
    background: #ffff76;
    border-radius: 0px;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa0;
  }
  
  .react-calendar__tile--active {
    background: #ff0028;
    color: white;
    border-radius: 0px;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #ff0028;
  }
  
  /* Add this to your existing CSS file */
  
  .fertile-window {
    background-color: #ff9d88;
    color: white;
    border-radius: 0px;
  }
  
  .fertile-window:hover,
  .fertile-window:focus {
    background-color: #ff5c39;
  }
  
  .menstrual-cycle {
    background-color: #ff00e4;
    color: white;
    border-radius: 0px;
  }
  
  .menstrual-cycle:hover,
  .menstrual-cycle:focus {
    background-color: #ff00e4;
  }