.nav-header {
    border-radius: 5px;
    background-color: #29072b;
    color: white;
    font-size: 33px;
    margin: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.nav-title {
    flex-grow: 1;
    text-align: center;
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.nav-img {    
    width: 24px;  
    height: 24px;
    -webkit-filter: invert(1);
    filter: invert(1);
}