* {
 
    font-family: 'Poppins', sans-serif;
}
 
body {
 
    background: #7f1f83;
    min-height: 100vh;
 
}
 
.container {
    margin: auto;
    width: 60%;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.selected-dates {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    margin: 2px;
    padding: 2px;
}
.selected-dates button {
    margin: 5px;
    margin-left: 15px;
    cursor: pointer;
}