* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
 
body {
    display: flex;
    background: #7d6acf;
    min-height: 100vh;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}
.page-section {
    margin: 20px;
    padding: 5px;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
 
